ion-tab-bar {
  --background: #fff;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.06);
  height: 65px;
}

/* Color general de los iconos/textos */
ion-tab-button {
  --color: #7c7c7c; /* gris base */
  --color-selected: #FF7E5F; /* coral MealGo */
  font-weight: 600;
}

/* Hace que los iconos sean un poco m치s grandes */
ion-icon {
  font-size: 22px;
}

/* --- Estilo especial para el tab de Recetas --- */
ion-tab-button[tab="recetas"] {
  --color: #333333; /* gris oscuro cuando NO est치 activo */
}

/* Cuando est치 seleccionado, lo hacemos m치s oscuro y fuerte */
ion-tab-button[tab="recetas"].tab-selected {
  --color-selected: #d6451f; /* coral oscuro */
  color: #d6451f !important;
  font-weight: 700;
}

ion-tab-button[tab="recetas"].tab-selected ion-icon {
  color: #d6451f !important;
  transform: scale(1.05);
}
