<ion-content class="login-content" fullscreen>
  <!-- Overlay oscuro sobre el fondo -->
  <div class="background-overlay"></div>

  <!-- Wrapper centrado -->
  <div class="login-wrapper">
    <div class="login-card">
      <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>
      <h2 class="login-title">Bienvenido a MealGo</h2>
      <p class="login-subtitle"></p>

      <!-- Inputs -->
      <ion-item class="login-item">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="login-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <!-- Botón -->
      <ion-button expand="block" class="login-button" (click)="login()">Ingresar</ion-button>

      <!-- Error -->
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

      <!-- Footer -->
      <div class="footer-text">
        ¿No tenés cuenta?
        <a routerLink="/register">Registrate</a>
      </div>
    </div>
  </div>
</ion-content>
