<ion-header>
  <ion-toolbar color="light">
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mg-bg ion-padding">
  <div class="usuario-container">
    <ion-icon name="person-circle-outline" class="icono"></ion-icon>
    <h2>Usuario MealGo</h2>
    <p>Perfil, suscripción y más</p>

    <ion-card class="info-card">
      <ion-card-content>
        <p><strong>Suscripción:</strong> MealGo Free</p>
        <p><strong>Email:</strong> usuario@mealgo.com</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
