ion-tab-bar {
  --background: #fff;
  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.06);
  height: 65px;
}

/* Color general de los iconos/textos */
ion-tab-button {
  --color: #7c7c7c; /* gris base */
  --color-selected: #FF7E5F; /* coral MealGo */
  font-weight: 600;
}

/* Hace que los iconos sean un poco más grandes */
ion-icon {
  font-size: 22px;
}
.mg-tabbar {
  --background: #ffffff;
  --color-selected: #3c6e71;
  ion-tab-button {
    color: #5c5c5c;
    &.tab-selected {
      color: #3c6e71;
    }
  }
  ion-icon {
    font-size: 22px;
  }
  ion-label {
    font-weight: 500;
    font-size: 12px;
  }
}

